.behaviour h3 {
    color: black;
    font-weight: var(--fw-700);
}

.behaviour .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.behaviour .controls .pagination-buttons {
    box-shadow: none;
}

.behaviour .controls .pagination-buttons button {
    width: 80px;
    color: #2f2f2f
}

.behaviour .controls .pagination-buttons .active {
    background: #f0f0f0;
}

.behaviour .nav-btn{
    width: 15rem !important;
    color: black;
    background: #f0f0f0;
}

.data-text img{
    height:15px;
    border-radius:var(--radius-5);
}